################### HeadPlane ####################
# openssl rand -hex 16
HEADPLANE_SERVER__COOKIE_SECRET=

# Whether cookies should be marked as Secure
# * Should be false if running without HTTPs
# * Should be true if running behind a reverse proxy with HTTPs
HEADPLANE_SERVER__COOKIE_SECURE=false

# The info secret is optional and allows access to certain debug endpoints
# that may expose sensitive information about your Headplane instance.
#
# As of now, this protects the /api/info endpoint which exposes details about
# the Headplane and Headscale versions in use. In the future, more endpoints
# may be protected by this secret.
#
# If not set, these endpoints will be disabled.
HEADPLANE_SERVER__INFO_SECRET=

# The URL to your Headscale instance
# (All API requests are routed through this URL)
# (THIS IS NOT the gRPC endpoint, but the HTTP endpoint)
#
# IMPORTANT: If you are using TLS this MUST be set to `https://`
HEADSCALE_URL=http://headscale:5000

# The API key used by Headplane for server-side operations.
# This is required for OIDC authentication and the Headplane agent.
# Generate one with: headscale apikeys create
HEADSCALE_API_KEY=

INTEGRATION_AGENT__ENABLED=false

# The name of the Headscale user to create pre-auth keys under.
# A user with this name must exist in Headscale.
INTEGRATION_AGENT__HOST_NAME=



###################### Headscale #########################
SERVER_URL=http://127.0.0.1:8080
ACME_EMAIL=
TLS_LETSENCRYPT_HOSTNAME=

# Defines the base domain to create the hostnames for MagicDNS.
# This domain _must_ be different from the server_url domain.
# `base_domain` must be a FQDN, without the trailing dot.
# The FQDN of the hosts will be
# `hostname.base_domain` (e.g., _myhost.example.com_).
DNS_BASE_DOMAIn=allan.com